body{
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
}

.login > h1, h2, p, .titulo{
    color:#F15E5E;
}

.card{
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
    text-align: center;
}

p{
    text-align: left;
}

.inputs{
    width: 100%;
    height: 40px;
    border-radius: 10px;

}

button{
    margin-top: 30px;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    background-color: #F15E5E;
    color: #1c1c1c;
    font-weight: bold;
}

img{
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

article{
    display: inline-block;
    width: 100%;
}

.titulo{
    color:#F15E5E;
}

.filmeCard {
    background-color: #1c1c1c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 20px 20px;
    max-width: 300px;
    color: #F15E5E;
    text-align: left;
    border: 1px solid #F15E5E;
    flex-wrap: wrap;
}
.filmeCard p {
    margin: 8px 0;
    color: #F15E5E;
}

.menuHome {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}



.menuHome button{
    width: 90px;
}


.subtitulo {
    color: #F15E5E;
    text-align: center;
}

.rodape {
    color: #F15E5E;
    text-align: center;
    margin-top: 40px;
}

header{
    text-align: center;
}

.by{
    font-size: 11px;
    text-align: center;
}